
body {
    background-color:rgba(68, 112, 28, 0.87);
    text-align: center;
    }
    p {
        color: rgba(186, 196, 169, 0.5);
        padding: 5%;
    }
    .img {
        width: 30%;
    }
    header {
        background-color: rgb(177, 177, 199);
    }