
body {
    background-color:rgba(68, 112, 28, 0.87);
    text-align: center;
    }
    p {
        color: rgba(54, 100, 55, 0.5);
        padding: 5%;
    }
    .img {
        width: 30%;
    }
    header {
        background-color: rgb(177, 177, 199);
    }
    
    li {color: rgb(red, rgb(116, 143, 116), rgb(172, 172, 203))}
    img {
        height: 39%;
    }
    nav a {
        margin-top: 5px;
        padding: 2px;
        font-size: 20px;
        color:rgba(204, 168, 238, 0.192);
        display: flex;
        justify-content: center;
    }