
body {
    background-color:rgba(173, 213, 137, 0.87);
    text-align: center;
    }

    p {
        color: rgba(188, 171, 15, 0.927);
        padding: 5%;
    }
    .img {
        width: 30%;
    }
    header {
        background-color: rgb(177, 177, 199);
    }
    
    li {color: rgb(red, rgb(116, 143, 116), rgb(172, 172, 203))}
    img {
        height: 39%;
    }
    nav a {
        margin-top: 5px;
        padding: 2px;
        font-size: 20px;
        color:rgba(115, 12, 211, 0.921);
        display: flex;
        justify-content: center;
    }
    .ul {
        font-style: italic;
        width:20%;
    }
    .ul {
        font-size: medium;
    }
    .h1 {
        font-size: large;
        color: chartreuse;
    }
    .li {
        font-size: larger;
    }
